<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Order</title>
</head>
<a href="/">Home</a>
<body>
    <table>
        <thead>
            <tr>
                <th>Product Code</th>
                <th>Product Name</th>
                <th>Product Price</th>
            </tr>
        </thead>
        <tbody>
           <tr th:each="product:${productlist}">
               <td th:text="${product.getProductCode()}"></td>
               <td th:text="${product.getProductName()}"></td>
               <td th:text="${product.getProductPrice()}"></td>
           </tr>
        </tbody>
    </table>
</body>
</html>